body{
    background-image: url(./image-folder/istockphoto-1265176772-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 50px;
    width: 60%;
    margin: 3.125rem auto 0 auto;
    border-radius: 30px;
}

#comments{
    width: 40%;
    height: 20rem;
}

#submit{
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 5rem;
    
}
.header{
    color: #fff;
}

div {
    display: block;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
.wrap{
    display: flex;
    flex-direction: column;
}
